/* GENERAL SETTING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
background: #000;
color: #fff;
font-size: 16px;
}

/* UTILITIES */

.text-center {
  text-align: center;
}

/* APP */

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}


/* TOP ROW */

#top-row {
  padding: 15px;
  width: 100%;
}

.top-span:after {
  content: '';
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  border: 4px solid transparent;
  border-top-color: #fff;
}

/* MAIN CONTENT */

#main-content {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  width: 1600px;
  max-width: 100%;
}

#main-content .user {
  position: relative;
  flex-basis: 25%;
  background: #555;
  border: 3px solid #000;
}

#main-content .user.active {
  border: 3px solid #fff;
}

#main-content .user:hover {
  border: 3px solid lightgreen;
}

#main-content .user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main-content .user .user-name,
#main-content i {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2px 3px;
  font-size: 13px;
  color: #ffe;
  background: rgba(0,0,0, 0.7);
  border-radius: 5px;
  opacity: 0;
}

#main-content .user.active .user-name {
  opacity: 1;
}

#main-content .user.active .user-name,
#main-content .user:not(.active) i {
  opacity: 1;
}

/* BOTTOM-ROW */

#bottom-row {
  padding: 15px;
  width: 100%;
}
